<!DOCTYPE html>
<meta charset="utf-8">
<style>
body{
  width:1200px;
  margin:100px auto;
}
svg text{
  font-size:12px;
}
rect{
  shape-rendering:crispEdges;
  var options = {
      width: 900,
      sankey: { node: { nodePadding: 80 } },
    };
}
</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="biPartite.js"></script>
<script>
var sales_data=[
["wt", "koHspd1", 34,58],
["wt", "koPhb", 12.9371, 20.4055],
["wt", "koHells", 2.56133, 3.92694],
["wt", "koILF3", 2.16243, 3.62915],
["wt", "koImpdh2", 25.4353, 37.7433],
["wt", "koRps15a", 10.0699, 15.1751]
];
var options = {
      width: 900,
      sankey: { node: { nodePadding: 80 } },
    };

var width = 1100, height = 610, padding = 80, margin ={b:0, t:40, l:170, r:50};

var svg = d3.select("body")
  .append("svg").attr('width',width).attr('height',(height+margin.b+margin.t))
  .append("g").attr("transform","translate("+ margin.l+","+margin.t+")");

var data = [ 
  {data:bP.partData(sales_data,2), id:'SalesAttempts', header:["Channel","State", "Sales Attempts"]},
  {data:bP.partData(sales_data,3), id:'Sales', header:["Channel","State", "Sales"]}
];

bP.draw(data, svg);

</script>
</body>